* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  color: #242221;
}

/* HEADER */
.header {
  background-color: #f0f0f0;
  max-width: 100vw;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 38px;
  padding-right: 18px;
}
.header-user-area {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-button {
  height: 34px;
  background-color: #242221;
  color: #f0f0f0;
  border-radius: 4px;
  padding: 4px 12px 4px 12px;
}
.header-logo {
  width: 54px;
  margin-left: 18px;
}
.logo-user {
  width: 24px;
  height: 24px;
}
.menu-user {
  width: 24px;
  height: 24px;
}

/* MAIN & FILTERS */

.filter-container {
  padding: 48px 32px 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.h1-text {
  font-size: 36px;
  font-weight: 700;
}
.filter-buttons {
  display: flex;
  gap: 18px;
}

.selected-button {
  background-color: #242221;
  height: 32px;
  border-radius: 4px;
  padding: 4px 12px 4px 12px;
  color: #f0f0f0;
  font-weight: 400;
}

.unselected-button {
  background-color: transparent;
  height: 32px;
  border: 1px solid #242221;
  border-radius: 4px;
  padding: 4px 12px 4px 12px;
  font-weight: 400;
}

.h2-text {
  font-size: 30px;
  font-weight: 700;
}

/* CARD CONTAINER */

.all-cards-container {
  margin-left: 16px;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 416px;
  height: 426px;
}
.card-picture img {
  width: 100%;
  height: 271px;
  object-fit: cover;
  border-radius: 4px;
}
h3 {
  color: #242221;
  margin: 0px;
  font-weight: 400;
  font-size: 24px;
}
.card-filters {
  display: flex;
  gap: 16px;
  margin-bottom: 0px;
}
h4 {
  color: #242221;
  margin: 0px;
}
.filtered {
  font-size: 12px;
  font-weight: 400;
  background-color: rgba(211, 211, 211, 0.25);
  border: 0px #242221;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 4px 12px 4px 12px;
}
.price-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
p {
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
}
.important-group {
  display: flex;
  gap: 6px;
}
.important-text {
  color: red;
}
.link-details {
  color: #0e34ff;
  font-weight: 400;
  font-size: 16px;
}
.config-card {
  font-size: 14px;
  font-weight: 400;
  background-color: #242221;
  color: #f0f0f0;
  width: 100%;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* FOOTER */

.footer {
  background-color: #f0f0f0;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h4-text {
  font-size: 28px;
  padding: 48px 32px 48px 32px;
}
.form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 18px;
  padding-bottom: 32px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  font-size: 12px;
  font-weight: 400;
  color: #242221;
}

input {
  width: 300px;
  height: 32px;
  border: 1px solid #242221;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0px 12px;
  display: inline-block;
}

hr {
  border: 1px solid lightgray;
  width: 100vw;
}

.footer-link-list {
  display: flex;
  gap: 18px;
  padding: 20px 8px 20px 8px;
}
.footer-link {
  color: blue;
  font-size: 14px;
  font-weight: 400;
}
